html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

h2 {
    margin-left: 10px;
}

.main-flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

.top-menu-flex-container {
    display: none;
    width: 100%;
    height: 30px;
}

.flex-menu-top {
    background-color: lightgrey;
    height: 30px;
    width: 50%;
    line-height: 2em;
    padding: 0 10px;
}

.flex-map-item {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
}

#menu {
    height: 100%;
    overflow: scroll;
}

#menu-container {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 300px;
    height: 100%;
}

#hideMenu-btn-Container {
    display: none;
}

.right {
    text-align: right;
}

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.displayNone {
    display: none;
}

#location-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group-item.highlight,
.list-group-item.selected {
    background-color: #f5f5f5;
}

@media only screen and (max-width: 800px) {
    #menu-container {
        display: none;
    }

    .top-menu-flex-container {
        display: flex;
    }

    .main-flex-container {
        height: calc(100% - 30px);
    }

    #menu {
        height: calc(100% - 20px);
    }

    #hideMenu-btn-Container {
        display: block;
        height: 20px;
        text-align: right;
        padding-right: 5px;
    }
}